# 1. 라이브러리 (가장 중요: 빌드 환경의 것과 충돌 방지)
node_modules
npm-debug.log

# 2. 빌드 결과물 (도커 내부에서 새로 빌드하므로 로컬 결과물은 제외)
dist
build

# 3. 소스 제어 및 설정 파일
.git
.gitignore
Dockerfile
docker-compose.yml
.dockerignore

# 4. 기타 임시 파일
.DS_Store
node_modules.bak

.env